body
{
/*font-size : 12pt;*/
  font-family : serif;
}

div#slides
{
  padding : 1ex;
  position : fixed;
  top : 0px;
  left : 0px;
  bottom : 0px;
  right : 0px;
  overflow : auto;
}

div.slide
{
  font-family : monospace;
  max-width : 90ex;
}

div.slide > div
{
  font-family : sans-serif;
  text-align : justify;
}

body.slideshow div.slide > div
{
  text-align : inherit;
}

h1, h2, h3, h4, h5, h6
{
  border-bottom : 1px solid #ccc;
}

body.slideshow div.slide
{
  max-width : inherit;
  font-size : 24pt;
  display : none;
}

body.slideshow div.slide.current
{
  display : block;
}

h1
{
  font-size : 150%;
}

h2
{
  font-size : 125%;
}

/* colors from python.org */
/*
div.pythoncode pre
{
  padding: 1ex;
  background-color: #eeffcc;
  color: #333333;
  border: 1px solid #ac9;
  border-left: none;
  border-right: none;
}
*/

code, div.pythoncode
{
  background-color: #f0f0f0;
}

div.pythoncode
{
  margin : 1em;
  margin-left : 0px;
  margin-right : 0px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  text-align : left;
}

div.pythoncode > div.container
{
  margin : 1ex;
  overflow : auto;
  clear : right;
}

div.pythoncode div.line
{
  font-family : monospace;
  white-space : pre;
  min-height : 1em;
}

div.pythoncode div.line.output
{
  white-space : pre-wrap;
}

.highlight div.pythoncode div.line:hover
{
  background : #ffee66;
}

/*
div.output.image
{
  float : right;
  position : absolute;
  right : 0px;
}

div.output.image object
{
  position : absolute;
  left : 0px;
  width : 200px;
  height : 200px;
  border : 1px solid #ccc;
  clear : right;
}
*/

div.output.image img
{
  width : 100%;
  height : auto;
}

body.slideshow div.output.image img
{
  margin-left : 10%;
  width : 80%;
  height : auto;
}

div.pythoncode div.header_button
{
  font-size : 75%;
  float : right;
  cursor : pointer;
  background : #ccc;
  padding-left : 1ex;
  padding-right : 1ex;
  padding-bottom : .25ex;
  padding-top : .25ex;
  margin-right : 1ex;
  margin-left : 1ex;
  border-bottom-left-radius : .75ex;
  border-bottom-right-radius : .75ex;
}

div.pythoncode div.header_button.show_output
{
  display : none;
}

div.pythoncode div.header_button.hide_output
{
  display : block;
}

div.pythoncode.output_hidden div.header_button.show_output
{
  display : block;
}

div.pythoncode.output_hidden div.header_button.hide_output, div.pythoncode.output_hidden span.gp
{
  display : none;
}

div.pythoncode.output_hidden div.output
{
  display : none;
}

div.pythoncode div.header_button.enable_trace
{
  display : block;
}

div.pythoncode div.header_button.disable_trace
{
  display : none;
}

a.debugger_data_url
{
  display : none;
}

div.trace_viewer div.event, div.trace_viewer div.console, div.trace_viewer div.stack
{
  display : block;
  border-top : 1px solid #ccc;
}

div.trace_viewer div.event div.container, div.trace_viewer div.console div.container, div.trace_viewer div.stack div.container
{
  white-space : pre;
  font-family : monospace;
  margin : 1ex;
}

div.trace_viewer div.event p, div.trace_viewer div.console p, div.trace_viewer div.stack p
{
  margin : 1ex;
  font-weight : bold;
}

div.trace_viewer div.pythoncode div.trace_cursor
{
  background : #66ff66;
}

div.trace_viewer
{
  display : none;
}

body.show_trace_viewer div.trace_viewer
{
  display : block;
  background : white;
  position : fixed;
  top : 0px;
  bottom : 0px;
  left : 0px;
  right : 0px;
  margin : 0px;
  padding : 0px;
  overflow : auto;
}


/* vim: ts=2:sts=2:sw=2:et:fdm=marker:fmr={{{,}}}
 */
